<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> Learning Vue </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="nav-bar"></div>


	<div id="app">
		<div class="cart">
				<p>Cart ({{ cart.length }})</p>
		</div>

		<product :premium="premium" @add-to-cart="updateCart" @remove-from-cart="removeItem"></product>
	</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="main.js"></script>
</body>

